@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {

  .shooting_star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    background: linear-gradient(-45deg, rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
    animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
  }

  .shooting_star::before {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining 3000ms ease-in-out infinite;
  }

  .shooting_star::after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining 3000ms ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg);
  }

  .shooting_star:nth-child(1) {
    top: calc(50% - -40px);
    left: calc(50% - 112px);
    animation-delay: 6614ms;
  }

  .shooting_star:nth-child(1)::before,
  .shooting_star:nth-child(1)::after {
    animation-delay: 6614ms;
  }

  .shooting_star:nth-child(2) {
    top: calc(50% - 151px);
    left: calc(50% - 30px);
    animation-delay: 8648ms;
  }

  .shooting_star:nth-child(2)::before,
  .shooting_star:nth-child(2)::after {
    animation-delay: 8648ms;
  }

  .shooting_star:nth-child(3) {
    top: calc(50% - -140px);
    left: calc(50% - 168px);
    animation-delay: 5681ms;
  }

  .shooting_star:nth-child(3)::before,
  .shooting_star:nth-child(3)::after {
    animation-delay: 5681ms;
  }

  .shooting_star:nth-child(4) {
    top: calc(50% - -120px);
    left: calc(50% - 279px);
    animation-delay: 6459ms;
  }

  .shooting_star:nth-child(4)::before,
  .shooting_star:nth-child(4)::after {
    animation-delay: 6459ms;
  }

  .shooting_star:nth-child(5) {
    top: calc(50% - -91px);
    left: calc(50% - 212px);
    animation-delay: 4792ms;
  }

  .shooting_star:nth-child(5)::before,
  .shooting_star:nth-child(5)::after {
    animation-delay: 4792ms;
  }

  .shooting_star:nth-child(6) {
    top: calc(50% - -18px);
    left: calc(50% - 263px);
    animation-delay: 7253ms;
  }

  .shooting_star:nth-child(6)::before,
  .shooting_star:nth-child(6)::after {
    animation-delay: 7253ms;
  }

  .shooting_star:nth-child(7) {
    top: calc(50% - -175px);
    left: calc(50% - 177px);
    animation-delay: 4668ms;
  }

  .shooting_star:nth-child(7)::before,
  .shooting_star:nth-child(7)::after {
    animation-delay: 4668ms;
  }

  .shooting_star:nth-child(8) {
    top: calc(50% - 188px);
    left: calc(50% - 234px);
    animation-delay: 3540ms;
  }

  .shooting_star:nth-child(8)::before,
  .shooting_star:nth-child(8)::after {
    animation-delay: 3540ms;
  }

  .shooting_star:nth-child(9) {
    top: calc(50% - -38px);
    left: calc(50% - 114px);
    animation-delay: 1879ms;
  }

  .shooting_star:nth-child(9)::before,
  .shooting_star:nth-child(9)::after {
    animation-delay: 1879ms;
  }

  .shooting_star:nth-child(10) {
    top: calc(50% - -31px);
    left: calc(50% - 297px);
    animation-delay: 4815ms;
  }

  .shooting_star:nth-child(10)::before,
  .shooting_star:nth-child(10)::after {
    animation-delay: 4815ms;
  }

  .shooting_star:nth-child(11) {
    top: calc(50% - 78px);
    left: calc(50% - 221px);
    animation-delay: 7415ms;
  }

  .shooting_star:nth-child(11)::before,
  .shooting_star:nth-child(11)::after {
    animation-delay: 7415ms;
  }

  .shooting_star:nth-child(12) {
    top: calc(50% - 156px);
    left: calc(50% - 147px);
    animation-delay: 3838ms;
  }

  .shooting_star:nth-child(12)::before,
  .shooting_star:nth-child(12)::after {
    animation-delay: 3838ms;
  }

  .shooting_star:nth-child(13) {
    top: calc(50% - 172px);
    left: calc(50% - 247px);
    animation-delay: 9974ms;
  }

  .shooting_star:nth-child(13)::before,
  .shooting_star:nth-child(13)::after {
    animation-delay: 9974ms;
  }

  .shooting_star:nth-child(14) {
    top: calc(50% - -57px);
    left: calc(50% - 248px);
    animation-delay: 9815ms;
  }

  .shooting_star:nth-child(14)::before,
  .shooting_star:nth-child(14)::after {
    animation-delay: 9815ms;
  }

  .shooting_star:nth-child(15) {
    top: calc(50% - 119px);
    left: calc(50% - 48px);
    animation-delay: 865ms;
  }

  .shooting_star:nth-child(15)::before,
  .shooting_star:nth-child(15)::after {
    animation-delay: 865ms;
  }

  .shooting_star:nth-child(16) {
    top: calc(50% - 107px);
    left: calc(50% - 212px);
    animation-delay: 2906ms;
  }

  .shooting_star:nth-child(16)::before,
  .shooting_star:nth-child(16)::after {
    animation-delay: 2906ms;
  }

  .shooting_star:nth-child(17) {
    top: calc(50% - -164px);
    left: calc(50% - 39px);
    animation-delay: 974ms;
  }

  .shooting_star:nth-child(17)::before,
  .shooting_star:nth-child(17)::after {
    animation-delay: 974ms;
  }

  .shooting_star:nth-child(18) {
    top: calc(50% - -162px);
    left: calc(50% - 68px);
    animation-delay: 7818ms;
  }

  .shooting_star:nth-child(18)::before,
  .shooting_star:nth-child(18)::after {
    animation-delay: 7818ms;
  }

  .shooting_star:nth-child(19) {
    top: calc(50% - 173px);
    left: calc(50% - 131px);
    animation-delay: 9741ms;
  }

  .shooting_star:nth-child(19)::before,
  .shooting_star:nth-child(19)::after {
    animation-delay: 9741ms;
  }

  .shooting_star:nth-child(20) {
    top: calc(50% - -46px);
    left: calc(50% - 5px);
    animation-delay: 8829ms;
  }

  .shooting_star:nth-child(20)::before,
  .shooting_star:nth-child(20)::after {
    animation-delay: 8829ms;
  }

  @keyframes tail {
    0% {
      width: 0;
    }

    30% {
      width: 100px;
    }

    100% {
      width: 0;
    }
  }

  @keyframes shining {
    0% {
      width: 0;
    }

    50% {
      width: 30px;
    }

    100% {
      width: 0;
    }
  }

  @keyframes shooting {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(300px);
    }
  }

  @keyframes sky {
    0% {
      transform: rotate(45deg);
    }

    100% {
      transform: rotate(405deg);
    }
  }


    .sun {
      position: absolute;
      top: -40px;
      left: -40px;
      width: 80px;
      height: 80px;
      background-color: rgb(254, 215, 102);
      border-radius: 50%;
      box-shadow: 0 0 14px 14px rgba(254, 215, 102, 0.2);
    }
  
    .moon {
      position: absolute;
      bottom: -40px;
      right: -40px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #ebe7e7;
      box-shadow: 0 0 7px 7px rgba(255, 255, 255, 0.2);
    }
}